@font-face {
    font-family:'Newake Demo';
    src: url('/fonts/newake-demo-400.otf');
}

#main-page-container{
    z-index: 1;
}

#welcome-text{
    background-color:transparent;
    border:none;
    font-family:'Nunito', sans-serif;
    text-transform:lowercase;
    letter-spacing:3px;
    width:60vw;
    text-align:center;
    color:white;
}

#welcome-title > input[type=color]{
    right: 22px;
}


#cards{
    margin:auto;
    margin-top: 100vh;
    z-index: 2;
    background-color: rgb(255, 255, 255);
}

.grid-item {
    padding: 0;
    text-align: center;
    display: inline-block;
    width: 15vw;
    height: 15vw;
    margin-top: 0;
}

.single-placement-row{
    padding: 0 0 0 0;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: 68vw;
    margin: auto;
    margin-bottom: 2vw;
}


.title-placement-row{
    width:100%;
    height: 161px;
    background-color: aliceblue;
    position: relative;

}

.title-placement-text{
    background-color:transparent;
    outline:none;
    border:none;
    width:100%;
    height:100%;
    padding:0;
    margin-left:25px;
    font-size: 140px;
    font-weight:700;
    -webkit-text-stroke: 1px black;
    color: transparent;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}


input[type=color]{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
}
input[type=color]:hover{
    transform:scale(1.1);
    cursor:pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
	
}
input[type="color"]::-webkit-color-swatch {
	border:3px solid black;
	border-radius: 50%;
}

.title-placement-text > input[type=color]{
    left: 5px;
    top: 10px;
    width: 25px;
    z-index: 1;
    height: 25px;
}

.title-placement-text {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  
.title-placement-text-con {
    display: inline-block;
    transform:translateX(100%);
    animation: titleMove 5s linear infinite;
}

@keyframes titleMove{
    0%   { 
        transform: translateX(100%); 		
    }
    100% { 
        transform: translateX(-100%); 
    }
}


.row-container{ 
    padding: 20vh 0;  
    overflow: hidden;  
    background-color: #18c6cfb0;  
    position: relative;
}

body{
    background-color: #172a3a;
    font-family: 'Nunito', sans-serif;
    color:white;
    margin:0;
    padding:0;
}

.cover{
    position: relative;
    top: 50px;
}
.cover-image{
    width: 6vw;
}
.cover-container-placed{
    width: 100%;
    height:100%;
}
.cover-container-placed > a > img{
    width: 100%;
    border-radius: 5px;
}

.big-grid-item{
    width: 32vw;
    height: 32vw;
    position: relative;
    top: 0;
    left: 0;
}

.title-container{
    display: inline;
    position: relative;
    bottom: 100px;
    left: 150px;
}

.artist-container{
    position: relative;
    bottom: 70px;
    left: 150px;
}

.duration-container{
    position: relative;
    bottom: 130px;
    left: 85%;
}

.single-result-container{
    position:relative;
    padding-top: 30px;
    padding-bottom: -30px;
    height: 20%;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.single-placed-container{
    position:relative;
    width:100%;
    height:100%;
    transition: all 800ms cubic-bezier(0.65, 0.32, 0, 0.91);
    transition-property: left,right,top,bottom;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 50%);
    border-radius: 5px;
}

span{
    display: inline-block;
    transition: transform 100ms ease-in-out;
}

span:hover{
    cursor: pointer;
    transform: scale(1.1);
}

#welcome-title{
    width: 100vw;
    height: 100vh;
    background-color: rgb(20 190 80);
    color: white;
    z-index: -1;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 0;
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}
   
.scrolled {
    opacity: 1;
}


.fade-in {
    animation: fade-in 1s ease-in-out both;
}
   
.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}
   
.slide-left {
    animation: slide-left 1s ease-in-out both;
}
   
.slide-right {
    animation: slide-right 1s ease-in-out both;
}
   
@keyframes slide-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
   
@keyframes slide-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
   
@keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      
      opacity: 1;
    }
}
   
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

#save{
    background-color:#14be50;
    height:100px;
    width: 100%;
    position:relative;
}

#save > a{
    width:inherit;
    height:inherit;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    text-transform: lowercase;
    color: white;
}

#save > a >i{
    margin-left: 5px;
}

#save:hover{
    background-color: #129b42;
    transition: all 200ms ease;
    cursor:pointer;
}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 100%;
    animation: marquee 33s linear infinite;
    left: 100%;
    padding-left: 10px;
    padding-right: 100px;
    
}
  
.marquee > span {
    display: inline-block;
}

.marquee2 {
    animation-delay: 22s;
}

.marquee3 {
    animation-delay: 11s;
}

  
@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(-200%, 0);
    }
}